.product
  $center($scale.md)
  $padding-lg()

.content
  $row(between)

.images
  .main
    size(486px, 312px)

  .thumbnails
    $row(between)
    img
      size(139px, 117px)

.details
  $padding-lg()
  $column(between)
  width 48%
  .list
    list-style-type disc

.quantity
  $padding-md()
  $row(between)
  > div
    margin-left $padding-sm-horizontal
    margin-right $padding-sm-horizontal
  .copy
    line-height 2
  .selector
    flex 1
  .button
    height 100%

.back
  .left-arrow
    size(12px)
    margin-right 3px
