.header
  $center(1080px)
  $row(center)
  $padding-base()

  img
    size(541px, 360px)

.header-right
  $padding-lg()
  text-align center
  width 40%

.content
  $center(90%)
  $row(between)

.product-item
  size(300px, 281px)
  $cell(1, 3)
  padding 2px 2px 20px 2px

  +$below(1119px)
    padding-bottom 45px

  .title
    font-weight bold
  .sale
    color $color-sale
  img
    max-width 250px
