.quantity-selector
  .Select-control
    background-color $callout-gray-border
    cursor default
    display table
    border-spacing 0
    border-collapse separate
    height 36px
    outline none
    overflow hidden
    position relative
    width 100%
  .Select-menu-outer
    background-color $callout-gray-border
