.checkout
  $center(100%)

.header
  background black
  text-align center
  width 100%
  h4
    $padding-lg()
    margin 0
    color white

.container
  $center(977px)
  $column(between)
  $padding-lg()

.nav
  width 100%
.nav-list
  $row(center)
  li
    $padding-lg()
    display inline-block
  .underline
    border-bottom 1px solid black

.footer
  $center(271px)
  $padding-lg(,0,,0)

.next-button
  background-color black
  border none
  color white
  line-height 2.5
  width 100%
  &[disabled]
    background-color gray
    cursor not-allowed

.shipping
  header
    text-align center

.shipping-content
  $center(271px)
  button
    background-color white
    border 1px solid black
    line-height 3
    width 100%

header.view-header
  text-align left
  border-bottom 1px solid black

.address-list
  $padding-lg()
  button
    background-color white
    border none
    text-align left

.add-address
  padding-bottom $padding-lg-horizontal
  padding-top $padding-lg-horizontal
  $center(271px)
