.checkout
  $center(100%)

.header
  background black
  text-align center
  width 100%
  h4
    $padding-lg()
    margin 0
    color white
    display inline-block

.container
  $center(977px)
  $column(between)
  $padding-lg()
  .list-button
    background-color white
    border none
    text-align left
    &:focus
      outline 0
  hr
    width 100%

.nav
  width 100%
.nav-list
  $row(center)
  li
    $padding-lg()
    display inline-block
  .underline
    border-bottom 1px solid black

.footer
  $center(271px)
  $padding-lg(,0,,0)

.footer-confirm
  $padding-lg(,0,,0)
  div
    $grid('row', 'between')

.next-button
.back-button
  background-color black
  border none
  color white
  line-height 2.5
  width 100%
  max-width 271px
  &[disabled]
    background-color gray
    cursor not-allowed

.back-button
  background-color white
  border 1px solid black
  color black

.shipping
  header
    text-align center

.shipping-content
  $center(271px)

header.view-header
  text-align left
  border-bottom 1px solid black

.list
  $padding-lg()

.address-container
  $grid()

.add-address
  $center(271px)
  padding-bottom $padding-lg-horizontal
  padding-top $padding-lg-horizontal

.billing-content
  $center(271px)
  padding-bottom $padding-lg-horizontal
  padding-top $padding-lg-horizontal
  text-align center
  button
    background-color white
    border 1px solid black
    line-height 3
    width 100%

.billing-form
  padding-bottom $padding-lg-horizontal
  padding-top $padding-lg-horizontal
  .card-label > div
    padding-top $padding-lg-horizontal
  .submit
    margin-top $padding-lg-horizontal
  .dev-note
    $padding-sm()
    border 1px dashed blue
    font-size small
    margin-bottom $padding-sm-horizontal
    margin-top $padding-sm-horizontal
    text-align left

.success-header
  text-align center
.success-content
  $center(727px)
  $padding-lg()
  text-align center

.button-group
  $row(between)
  $padding-xl()
  button
    width 264px

.confirm
  header
    $center(371px)
    text-align center

.confirm-shipping-billing
  $grid('row', 'around')
  background lighten($gray, 40)
  padding-bottom $padding-lg-vertical

  h4
    text-decoration underline
    font-weight bold

.checkmark
  height 1.3em