
.faq
    background #DEDEDE;
    padding: 100px;
    display flex;
    width 100%;
    +$below(md)
        padding 30px;

.faq-inner
    background white;
    border 20px solid #F4F4F4;
    padding 25px 20px;
    width 70%;
    +$below(md)
        width 100%;

dl
    margin-top: 30px;

dt
    color #02AEEF;
    text-decoration underline;
    line-height 1.4em;

dd
    padding-left 25px;
    margin-bottom 1em;