.menu
  $padding-base()
  background-color $bg-color
  box-shadow 0 4px 4px $menu-shadow
  position absolute
  text-align center
  top 100%
  visibility hidden
  width 100%
  z-index $z-dropdown
  +$below(md)
    height 100vh
    width 100vw
    position fixed
    top 90px
    background white
    padding-top 0px
    $column(start, stretch, between)
.open
  visibility visible

.image
  $row(around)
  $center(50%)
  $padding-base()
  img
    max-width 225px
  .item
    $column(between)

$items-per-col = 6
$item-height = 26px
// item-height =~ font-size + (line-height / 2)
.text
  $row(around)
  $center(50%)
  $padding-base()
  text-align left
  +$below(md)
    $center(100%)

  .category
    $padding-base()
    width 45%
    +$below(md)
      width 100%

  .content
    $column(start)
    height $item-height * $items-per-col
    .item
      font-size 12px
      height $item-height
      letter-spacing .8px
      text-decoration none
      &:hover
        text-decoration underline
