.profile
    $row('start', 'stretch')

.left
.right
    flex 1

 .actions
    display flex
    flex-direction column
    padding-top $padding-lg-vertical

.add-address
  $center(271px)
  padding-bottom $padding-lg-horizontal
  padding-top $padding-lg-horizontal

  header
    $row('between')

    button.cancel
      background-color white
      border 0
      color $gray

button.submit
    $button()

button.cancel
    $button()
    background-color white
    color black
    border 1px solid black
    margin-top 10px