.carousel
  $center(1078px)
  padding $padding-xl-horizontal 0

.subheader
  $center(1078px)
  $row(between)
  padding $padding-xl-horizontal 0

.subheader-container
  width 450px
  .img
    size(450px, 400px)
    padding-bottom $padding-lg-horizontal
  .copy
    padding: $padding-base-horizontal 0

.learn-more
  .triangle
    margin-left $padding-base-vertical
    size(12px)

.pager
  align-items center
  display flex
  justify-content center
  margin 20px

.page
  background #ccc
  border-radius 50%
  cursor pointer
  height 15px
  width 15px
  & + &
    margin-left 10px


.content-container
  $row(between)
  $center(1225px)
  padding $padding-xl-horizontal 0

.callout
  $column(between)
  size(556px, 655px)
  text-align left
  border 20px solid $callout-gray-border

.copy
  $column(between)
  flex 1
  padding $padding-xl-horizontal $padding-xl-vertical $padding-xl-horizontal ($padding-xl-vertical * 3)
  .title
    text-align center
  .img
    display block
    width 100%

.featured-container
  $row(between)
  max-width 540px

.featured
  size(230px)
  .title
    font-weight bold
  .sale
    color $color-sale


