.carousel
  $center(1078px)

.subheader
  $center(1078px)
  $row(between)

.subheader-container
  width 450px
  .img
    size(450px, 400px)
    padding-bottom $padding-large-horizontal
  .title
    padding-top $padding-large-horizontal
    padding-bottom $padding-base-horizontal
    font-size 37px
  .copy
    padding: $padding-base-horizontal 0

.learn-more
  .triangle
    margin-left $padding-base-vertical
    size(12px)

.pager
  align-items center
  display flex
  justify-content center
  margin 20px

.page
  background #ccc
  border-radius 50%
  cursor pointer
  height 15px
  width 15px
  & + &
    margin-left 10px

