.carousel
  $center(1078px)

.pager
  align-items center
  display flex
  justify-content center
  margin 20px

.page
  background #ccc
  border-radius 50%
  cursor pointer
  height 15px
  width 15px
  & + &
    margin-left 10px

