.list
  $padding-lg()

.address-container
  $grid()

header.view-header
  text-align left
  border-bottom 1px solid black

.add-address
  $center(271px)
  padding-bottom $padding-lg-horizontal
  padding-top $padding-lg-horizontal

  header
    $row('between')

    button.cancel
      background-color white
      border 0
      color $gray

.add-button
  $center(271px)
  background-color white
  border 1px solid black
  line-height 3
  width 271px
  
.submit
  $button()

.cancel
  $button()
  background-color white
  border 1px solid black
  color black
  margin-top 2em

.address-controls
  $row('between')
  $padding-sm()

  button
    background-color white
    border 1px solid black 
  

  &:hover > .address-edit-button-container
    display block
  .address-edit-button-container
    bottom 25%
    display none
    left 0
    position absolute
    text-align center
    width 100%
  .address-edit-button
    border-radius 8px
    width 50%

.address-edit-container
  position relative
  height 100%
  width 100%
  .address-edit-content
    border 20px solid lightgray
    bottom 0
    height 100%
    left 0
    position absolute
    right 0
    top 0
    width 100%
    padding 40px
