.list
  $padding-lg()

.address-container
  $grid()

header.view-header
  text-align left
  border-bottom 1px solid black

.add-address
  $center(271px)
  padding-bottom $padding-lg-horizontal
  padding-top $padding-lg-horizontal

  header
    $row('between')

    button.cancel
      background-color white
      border 0
      color $gray

.add-button
  $center(271px)
  background-color white
  border 1px solid black
  line-height 3
  width 271px
  
.submit
  $button()