.menu
  $padding-base()
  background-color $bg-color
  position absolute
  text-align center
  top 100%
  width 100%
  box-shadow 0 4px 4px $menu-shadow
  z-index $z-dropdown

.split
  $row(around)
  $center(50%)
  $padding-base()
  .item
    $column(between)
