$primary = #000000
$callout-gray-border = #F4F4F4
$text-header = #000000
$text-description = #515151
$menu-selected = $000000
$menu-unselected = #919191
$menu-title = #000000
$menu-item = #747474
$form-field-active = #63C7ED
$form-field-error = #FF0000
$footer-background = #323232
$footer-primary = #FFFFFF
$footer-secondary = #C0C0C0
$footer-subscribe-button = #EA8694
$banner-mobile-overlay = rgba(2 174 239 50)
ks-no-conflict = true
