ks-meyer-reset();
ks-box-sizing-reset();
ks-normalize();
:focus {
  outline: none;
}
body {
  font-family lato, 'helvetica neue', helvetica, sans-serif
}
a {
  cursor pointer
  text-decoration none
}
