.header
  $center(1080px)
  $padding-base()
  $row(center)
  margin-top 50px

  img
    size(541px, 360px)
    +$below(sm)
      size(100%)

.header-right
  $padding-lg()
  margin-left 30px
  text-align left
  width 40%
  +$below(md)
    margin-left 0
    width 60%

  h1
    line-height 1.2em
    margin-bottom 28px
    width 280px

  .copy
    line-height 1.5em

.content
  $center(70%)
  $row(around)
  margin-top 50px
  +$below(lg)
    $center(76%)
    $row(between)
  +$below(md)
    $center(90%)
    $row(around)
    .product-item
      width 40%
      img
        max-width 100%
    .preview-button-container
      display none !important
  +$below(sm)
    $center(96%)
    $row(around)

$image-scale = 1.15
.product-item
  margin 20px 10px
  padding 2px 2px 20px 2px
  position relative
  +$below(1119px)
    padding-bottom 45px

  .title
    font-weight bold
  .sale
    color $color-sale
  img
    max-width 250px
    transition all .2s ease-in-out
    transform scale3d(1,1,1)
    &:hover
      transform scale3d($image-scale, $image-scale, $image-scale)

  &:hover
    img
      transform scale3d($image-scale, $image-scale, $image-scale)

  &:hover > .preview-button-container
    display block
  .preview-button-container
    bottom 25%
    display none
    left 0
    position absolute
    text-align center
    width 100%
  .preview-button
    border-radius 8px
    width 50%

.preview-container
  position absolute
  height 100%
  width 100%
  border 1px solid red
  .preview-content
    border 20px solid lightgray
    bottom 0
    height 100%
    left 0
    position absolute
    right 0
    top 0
    width 100%

